@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;400;500;600;800&family=Work+Sans:ital,wght@0,400;1,300;1,400&display=swap');

html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #05101c;
  color: #fff;
  font-family: 'Playpen Sans', 'Work Sans', sans-serif;  
}